#navs{
  font-size: 25px;
}
h2{
  text-align: center;
}
#nav8{
  background-color: cadetblue;
}
#nav11{
  background-color: cornflowerblue;
}
#nav15{
  background-color: cadetblue;
}
#nav17{
  background-color: cornflowerblue;
}
