<div class="jumbotron text-center">
  <h1>Transfert Saint-E ==> Saint-Ex</h1>
  <p>Une navette est mise en circulation à partir de 6 passager, dans le cas contraire elle est annulée<br/>
   et les usagers qui auront réservé des places seront remboursés.<br/>
   Toute réservation <strong>payée</strong> ne pourra donc pas être annulée.</p>
</div>
<br/><br/>

<h2> Date du jour </h2>

<div id="navs" class="d-flex flex-column">
  <div id="nav8" class="col-sm-4">
    <h3>Navette 8h</h3>
    <button class="btn btn-info btn-lg" type="button">Réserver</button>
  </div>
  <div id="nav11" class="col-sm-4">
    <h3>Navette 11h</h3>
    <button class="btn btn-info btn-lg" type="button">Réserver</button>
  </div>
  <div id="nav15" class="col-sm-4">
    <h3>Navette 15h</h3>
    <button class="btn btn-info btn-lg" type="button">Réserver</button>
  </div>
  <div id="nav17" class="col-sm-4">
    <h3>Navette 16h</h3>
    <button class="btn btn-info btn-lg" type="button">Réserver</button>
  </div>
</div>

<footer>
  <a href="">Conditions générales de ventes</a><br/>
  <a href="">Conditions générales d'utilisateurs</a><br/>
  <a href="">Contact</a>
  <p>Ici plan du trajet</p>
</footer>

